<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://mysql3.gear.host:3306/dds2016?useSSL=false</property>
        <property name="connection.username">dds2016</property>
        <property name="connection.password">dds2016.</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>


        <!-- que loguear -->
        <property name="log4j.logger.org.hibernate">warning</property>
        
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        
        <!-- Names the annotated entity class -->
        <mapping class="tpdds.Usuarios.User"/>
        <mapping class="tpdds.Usuarios.TipoUsuario"/>
        <mapping class= "tpdds.Usuarios.Permisos"/>
        <mapping class= "tpdds.pois.Poi"/>
        <mapping class= "tpdds.pois.Bancos"/>
        <mapping class= "tpdds.pois.CGP"/>
        <mapping class= "tpdds.pois.LocalesComerciales"/>
        <mapping class= "tpdds.pois.ParadaColectivo"/>      
        <mapping class= "tpdds.pois.componentes.KeyWords"/>
        <mapping class= "tpdds.pois.componentes.DiaPoi"/>
        <mapping class= "tpdds.ubicacion.Direccion"/>
        <mapping class= "tpdds.ubicacion.Location"/>
        <mapping class= "tpdds.pois.componentes.Servicios"/>
    </session-factory>

</hibernate-configuration>